<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" href="../assets/favicon.png" type="image/x-icon" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/main.css" />

    <title>Quaboag Maple Co. | Tree {{ tree.id }}</title>
</head>

<body>

    <!-- Tag -->    
    <div class="section">
        <div class="tag">
            <h1>Quaboag Maple Co.</h1>
            <table>
                <tr>
                    <th>TREE</th>
                    <td>{{ tree.id }}</td>
                </tr>
                <tr>
                    <th>GENUS</th>
                    <td>{{ tree.genus.title() }}</td>
                </tr>
                <tr>
                    <th>SPECIES</th>
                    <td>{{ tree.species.title() }}</td>
                </tr>
                <tr>
                    <th>LATITUDE</th>
                    <td>{{ tree.latitude | format_latitude }}</td>
                </tr>
                <tr>
                    <th>LONGITUDE</th>
                    <td>{{ tree.longitude | format_longitude }}</td>
                </tr>
                <tr>
                    <th>ELEVATION</th>
                    <td>{{ tree.elevation }}</td>
                </tr>
            </table>
            <img src="../assets/qr/{{ tree.id }}.svg">
        </div>
    </div>

    <!-- History -->
    <div class="section">
        <h2>History</h2>
        <table>
            <tr>
                <th>SEASON</th>
                <th>START</th>
                <th>END</th>
                <th>YIELD</th>
            </tr>
            {% for yield in yields %}
            <tr>
                <td>{{ yield.season }}</td>
                <td>{{ yield.start | format_date }}</td>
                <td>{{ yield.end | format_date }}</td>

                {% if yield.yield is number %}
                <td>{{ yield.yield }} gal</td>
                {% else %}
                <td>{{ yield.yield }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- Location -->
    <div class="section">
        <h2>Location</h2>
        <p>{{ tree.description }}</p>
        <div id="map"></div>
        <p>
            Navigate with <a class="maplink" target="_blank" rel="noopener noreferrer" href="http://maps.google.com/?q=42.1890292,-72.0616784">Google Maps</a> or <a class="maplink" href="http://maps.apple.com/?q=42.1890292,-72.0616784">Apple Maps</a>.
        </p>
    </div>

    <!-- Photos -->
    <div class="section">
        <h2>Photos</h2>
        <div class="wrapper">
            <div>
                <a href="../assets/photos/{{ tree.id }}_spring.jpg">
                    <img src="../assets/photos/{{ tree.id }}_spring.jpg" />
                </a>
                <p>Spring</p>
            </div>
            <div>
                <a href="../assets/photos/{{ tree.id }}_summer.jpg">
                    <img src="../assets/photos/{{ tree.id }}_summer.jpg" />
                </a>
                <p>Summer</p>
            </div>
            <div>
                <a href="../assets/photos/{{ tree.id }}_autumn.jpg">
                    <img src="../assets/photos/{{ tree.id }}_autumn.jpg" />                        
                </a>
                <p>Autumn</p>
            </div>
            <div>
                <a href="../assets/photos/{{ tree.id }}_winter.jpg">
                    <img src="../assets/photos/{{ tree.id }}_winter.jpg" />
                </a>
                <p>Winter</p>
            </div>
        </div>
    </div>

    <!-- Back Button -->
    <div class="section">
        <a href="../">
            <h3>←  Return to Tree Inventory.</h3>
        </a>
    </div>

</body>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

<script>

    latlon = [
        {{ tree.latitude }},
        {{ tree.longitude }}
    ]

    map = L.map(
        'map', 
        {
            zoomControl: false, 
            attributionControl: false,
            minZoom: 14,
            maxZoom: 18
        }
    ).setView(
        latlon,
        16
    );

    map.addControl(new L.Control.Fullscreen());

    L.tileLayer(
        'http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{
        maxZoom: 20,
        subdomains:['mt0','mt1','mt2','mt3']
    }).addTo(map);

    marker = L.marker(latlon)

    marker.bindTooltip(
        "TREE {{ tree.id }}", 
        {
            permanent: true, 
            direction : 'bottom',
            className: "map-pin-text", 
            offset: [-15, 20],
        }
    );
    marker.addTo(map);

    marker._icon.classList.add("map-pin")

</script>
