<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" href="../assets/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/main.css" />

    <title>Quaboag Maple Co. | Tree {{ tree.id }}</title>
</head>

<body>

    <!-- Tag -->    
    <div class="section">
        <div class="tag">
            <h1>Quaboag Maple Co.</h1>
            <table>
                <tr>
                    <th>TREE</th>
                    <td>{{ tree.id }}</td>
                </tr>
                <tr>
                    <th>GENUS</th>
                    <td>{{ tree.genus.title() }}</td>
                </tr>
                <tr>
                    <th>SPECIES</th>
                    <td>{{ tree.species.title() }}</td>
                </tr>
                <tr>
                    <th>LATITUDE</th>
                    <td>{{ tree.latitude | format_latitude }}</td>
                </tr>
                <tr>
                    <th>LONGITUDE</th>
                    <td>{{ tree.longitude | format_longitude }}</td>
                </tr>
                <tr>
                    <th>ELEVATION</th>
                    <td>{{ tree.elevation }}</td>
                </tr>
            </table>
            <img src="../assets/qr/{{ tree.id }}.svg">
        </div>
    </div>

    <!-- History -->
    <div class="section">
        <h2>History</h2>
        <table>
            <tr>
                <th>SEASON</th>
                <th>START</th>
                <th>END</th>
                <th>YIELD</th>
            </tr>
            {% for yield in yields %}
            <tr>
                <td>{{ yield.season }}</td>
                <td>{{ yield.start | format_date }}</td>
                <td>{{ yield.end | format_date }}</td>

                {% if yield.yield is number %}
                <td>{{ yield.yield }} gal</td>
                {% else %}
                <td>{{ yield.yield }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- Photos -->
    <div class="section">
        <h2>Photos</h2>
        <div class="wrapper">
            <div>
                <a href="../assets/photos/{{ tree.id }}_spring.jpg">
                    <img src="../assets/photos/{{ tree.id }}_spring.jpg" />
                </a>
                <p>Spring</p>
            </div>
            <div>
                <a href="../assets/photos/{{ tree.id }}_summer.jpg">
                    <img src="../assets/photos/{{ tree.id }}_summer.jpg" />
                </a>
                <p>Summer</p>
            </div>
            <div>
                <a href="../assets/photos/{{ tree.id }}_autumn.jpg">
                    <img src="../assets/photos/{{ tree.id }}_autumn.jpg" />                        
                </a>
                <p>Autumn</p>
            </div>
            <div>
                <a href="../assets/photos/{{ tree.id }}_winter.jpg">
                    <img src="../assets/photos/{{ tree.id }}_winter.jpg" />
                </a>
                <p>Winter</p>
            </div>
        </div>
    </div>

    <!-- Back Button -->
    <div class="section">
        <a href="../index.html">
            <h3>←  Return to Tree Inventory.</h3>
        </a>
    </div>

</body>
